/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0;
    margin: 0;
    user-select: none;
    scroll-behavior: smooth;
    cursor: pointer;
}

section, div {
    animation: up-slide 2s;
}

.reveal.visible {
    animation: up-slide2 1.5s;
}

p, span {
    animation: dim 2s;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.diff>p {
    font-family: 'Inter', sans-serif;
}

.fill-tremor-content {
    fill: #B2ABAB !important;
}

.tip{
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #9C27B0 transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    /* transform: rotate(35deg); */
    margin-left: -40px;
    margin-top: 2px;
}

/* animation */
@keyframes up-slide {
    0% {
      transform: translateY(-30px);
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes up-slide2 {
    0% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes dim {
    0% {
      opacity: 0%;
    }
  
    50% {
      opacity: 50%;
    }
  
    100% {
      opacity: 100%;
    }
  }